@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
body {
  margin: 0;
  line-height: normal;
}
.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.pavel-bondarenko1,
.uxui-designer {
  margin: 0;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.pavel-bondarenko1 {
  font-size: inherit;
  font-family: inherit;
}
.uxui-designer {
  font-size: var(--font-size-sm);
}
.name2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.icon-close1 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.icon-close:hover {
  cursor: pointer;
  opacity: 70%;
}
.name1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.pavelbond1ru {
  text-decoration: underline;
}
.p:hover,
.pavelbond1ru:hover {
  color: var(--color-gold);
}
.p,
.pavelbond1ru {
  margin: 0;
  position: relative;
  letter-spacing: -0.5px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}
.email-tel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-xs);
}
.vector-icon4 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.33%;
  bottom: 8.33%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tg2,
.vk2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  overflow: hidden;
}
.tg2:hover,
.vk2:hover {
  opacity: 0.7;
}
.vector-icon5 {
  position: absolute;
  height: 83.33%;
  width: 83.33%;
  top: 8.33%;
  right: 8.08%;
  bottom: 8.33%;
  left: 8.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contacts,
.social-icons2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-2xs);
}
.social-icons2 {
  flex: 1;
  justify-content: flex-end;
}
.contacts {
  align-self: stretch;
  height: 60px;
  flex-shrink: 0;
  justify-content: center;
  font-size: var(--font-size-sm);
}
.contact-me {
  position: relative;
  border-radius: var(--br-md);
  width: 420px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 58px;
  background-image: url(./public/contact-me@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 1;
  backdrop-filter: blur(32px);
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.contact-me.animate {
  animation: 0.5s ease 0s 1 normal forwards scale-up;
}
@media screen and (max-width: 428px) {
  .pavel-bondarenko1 {
    font-size: var(--font-size-lg);
  }
  .uxui-designer {
    font-size: var(--font-size-sm);
  }
  .name2 {
    margin-bottom: -20px;
  }
  .email-tel {
    padding-bottom: 8px;
    flex: unset;
    align-self: stretch;
  }
  .tg2,
  .vk2 {
    width: 36px;
    height: 36px;
  }
  .tg2 {
    margin-left: 12px;
  }
  .social-icons2 {
    display: inline;
    flex: unset;
    align-self: stretch;
  }
  .contact-me,
  .contacts {
    flex-direction: column;
  }
  .contact-me {
    height: 225px;
    padding: var(--padding-md);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .contact-me {
    padding: var(--padding-md);
    box-sizing: border-box;
  }
}
